@import url("boton.css") ;
body {
	background-image: url(../imagenes/imagen-fondo.gif);
	background-position: left top;
	background-repeat: no-repeat;
	FONT-SIZE: 8pt;
	COLOR: navy;
    FONT-FAMILY: Verdana, Arial;
    FONT-VARIANT: normal
}

input
{
	FONT-SIZE: 8pt;
	COLOR: #666666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	cursor:auto;
	background-image: url(../imagenes/fondo-bot.gif);
	background-repeat: repeat-x;
	text-align: left;
}

TABLE
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt
}
TD.data
{
BORDER-RIGHT: #cccccc 1px solid;
FONT-WEIGHT: normal;
BORDER-BOTTOM: #cccccc 1px solid
}
TD.campo
{
BORDER-RIGHT: #cccccc 1px solid;
FONT-WEIGHT: normal;
BORDER-BOTTOM: #cccccc 1px solid;
BORDER-TOP: #cccccc 1px solid;
BORDER-LEFT: #cccccc 1px solid
}
.principal
{
    FONT-SIZE: 8pt;
    COLOR:  #FFFFFF;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: #243376 ;/*#FCDB02; #ffbe92;*/
		cursor:hand
}
.inputText{
	font-size: 10px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color: #333333;
}

.tituloSeccionPrincipal{
	font-family: Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:9pt;
	line-height: 12pt;
	font-weight: bold;
	padding: 5px;
	background-color: #000066;
}
.operacionesDeclaracion{
	border:1;
	border-width:1;
	color:red;
	background-color:#cccccc;
	text-align:center;	
}

.captura {
  align:center;
}