body {
	background-image: url(../imagenes/back.gif);
	left: 0px;
	top: 0px;
}
.c{
	cursor:hand
}
.masMenos{
	color:#000071;
	line-height:8pt;
	font-family:"Courier New";
	font-size:11pt;
	text-decoration:none;
	font-weight: bold;
	margin-left: 0px;
}

.boton
{
	FONT-SIZE: 8pt;
	COLOR: #4F7397;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	cursor:hand;
	background-image: url(../imagenes/fondo-bot.gif);
	background-repeat: repeat-x;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding: 3px;
}

.formularioTitulo{
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #005FA4;
	padding-left: 5px;
	text-decoration: underline;
}

.declaracionTitulo{
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	color:#005FA4;
	font-weight: bold;
	line-height: 12pt;
	padding-left: 2px;
	text-transform: uppercase;
	text-decoration: underline;
}

.buzonTitulo{
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	color:#005FA4;
	font-weight: bold;
	line-height: 20pt;
	text-transform: uppercase;
	padding-left: 2px;
}

/*ESTE ES EL ESTILO DEL PERIODO
imagen: src="conf/imagenes/diskfold.gif"
*/

.lbl{
	color:#000071;
	line-height:20pt;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	text-decoration:none;
	font-weight: bold;
	text-transform: uppercase;
}
.lblSelected{
	color:#000000;
	line-height:20pt;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	text-decoration:none;
	font-weight: bold;
	text-transform: uppercase;
	BACKGROUND-COLOR:'#D1DEF0';
}

/*
imagen: src="conf/imagenes/disk.gif"
*/
.subcarpetas{
	color:#005FA4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	text-decoration:none;
	font-weight: bold;
	text-transform: capitalize;
}

/**/
.periodo{
	color:#005FA4;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
