input[type=text]
{
	border: 0;
	text-align: right;
	background: #eeeeee;
}

table.declaracion {
	width: 640px;
	color: #212424;
	font: 8px Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
	background-color: #50E450;
	text-align: left;
	border-collapse:collapse;
	padding: 0px;	
}

table.declaracion1 {
	width: 640px;
	color: #212424;
	margin: 0px;
	font: 8px Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px 0px 5px 0px;
}

tabla.principal {
	width: 640px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	
}

table, tr, th, td
{
	height: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-collapse:collapse;
	background-color: #FFFFFF;
}
.borde {
	margin: 0px 0px 0px 0px;
	border: 1px solid #009933;
	background-color: #FFFFFF;
}
.bordevacio {

	margin: 0px 0px 0px 0px;
	border: 1px solid #009933;
}
.bordevacio-centro {
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #009933;
	border-right: 0px solid #009933;
	border-bottom: 1px solid #009933;
	border-left: 0px solid #009933;
}
.bordevacio-izq {
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #009933;
	border-right: 0px solid #009933;
	border-bottom: 1px solid #009933;
	border-left: 1px solid #009933;
}
.fondo {

	margin: 0px 0px 0px 0px;
	border: 1px none #8082B3;
	background-color: #A7DAA7;
}

caption {
	width: 100%;
	height: 39px;
	font-size: 0;
	line-height: 0;
	text-indent: -5000em;
	background: url(caption.gif) no-repeat 98% 0;
}
caption:hover {
	background-position: 98% 100%;
}

/* HEADER */

thead { 
	background: #004080;
	font-size: 12px;
	color:gold;
	font: 120%/150% "Arial", "Lucida Sans Unicode", "Lucida Sans", Lucida, Helvetica, sans-serif;
}
thead tr th {
	padding: 0em 0;
	text-align: center;
	color: #FAF7D4;
	border-bottom: 0px solid #A5D768;
}

/* FOOTER */

tfoot {
	color: #fff;
	background: #524123;
}
tfoot tr th, tfoot tr td {
	padding: 0em 0em;
	border-top: 0px solid #A5D768;
}
tfoot tr th {
}
tfoot tr td {
	text-align: right;
}

/* BODY */

tbody tr td {
	border-collapse:collapse;
	font-size: 8pt;
	padding: 8px;

}
tbody tr.odd td {
	background-color: #D0EBA6;
}
tbody tr td:hover, tbody tr.odd td:hover {
	background: #A6DDAE;
}

tbody tr th, tbody tr td
{
	padding: 0px;
	margin: 0px;
}

tbody tr th
{
	text-align: left;
	font-weight: bold;
	background:  #81C981;
	text-transform: uppercase;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	padding: 1px;
}

tbody tr th:hover {
	background: #96D296;
}

/* LINKS */

table a {
	color: #FFFFFF;
	text-decoration: underline;
	background-color: #96D296;
	padding: 5px;
	background-image: url("c:/eset/images/pestana-verde.gif");
	background-repeat: no-repeat;
}
table a:visited {
	text-decoration: underline;
	color: #FFFFFF;
}
table a:hover {
	color: #FFFFFF;
	padding: 5px;
	text-decoration: none;
	background-image: url("c:/eset/images/pestana-verde-1.gif");
	background-repeat: no-repeat;
}

.numero
{
	border: 0;
	font-size: 9px;
	width: 90px;
	text-align: right;
	background-color: #eeeaee;
}

.descripcion
{
	border: 1px solid #FFFFFF;
	font-size: 9px;
	width: 95%;
	text-align: left;
	background-color: #E4E4E4;
	margin: 1px;
	padding: 1px;
}
.producto 
{
	border: 0;
	font-size: 9px;
	width: 100%;
	text-align: left;
	background-color: #eeeaee;
}
.codigo
{
    width: 10px;
}
.valornumero
{
	text-align: right;
	font-size:10px;
	width: 100px;
	border: 1px solid #FFFFFF;
	margin: 1px;
	padding: 1px;
	background-color: #FFFFFF;	
}
.valornumerocorto
{
	width: 20px;
	margin: 2px;
	padding: 2px;
	border: 1px solid #CCCCCC;
}

.valorDV
{
	width: 10px;
	border: 1px solid #FFFFFF;
	margin: 2px;
	padding: 2px;
	background-color: #e4e4e4;
}

.vacio
{
	background-color: #B7FFB7;
	background-image: url("c:/eset/images/fondo-vacio1-verde.gif");
	background-repeat: repeat;
	height: 25px;
	border: 1px solid #009933;
}

body {
	margin-top: 5px;
	margin-left: 5px;
}

/* basic tab setup */

div#tabs {
	float: left;
	font-size: 13px;
	font-family: Georgia;
}

div#tabs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
}

/* inactive tab style */

div#tabs li {
	float: left;
	background: right top;
	margin: 0;
	padding: 0;
	width: auto;
}

div#tabs a {
	display: block;
	padding:8px 15px 8px 15px;
	text-decoration: none;
	color: #FFFFFF;
	background: left center;
}

/* Active tab style */

div#tabs #active a {
    padding-top: 8px;
    text-shadow: #333 0px 0px 2px; /* Safari only shadows */
	text-decoration: none;
    }

div#tabs #active {
text-decoration: none;
}

/* extra makeup, hover for inactive */

div#tabs a:hover {
	color: #fff; 
	text-shadow: #333 0px 0px 2px; /* Safari only shadows */
	text-decoration: none;
}
/* extra makeup, hover for active */

div#tabs #active a:hover {
	text-shadow: none;
	text-decoration: none;
}

/* tab styles */

div#tab_content {
	float: left;
	clear: left;
	width: 500px;
	padding: 1em;
	font-size: 15px;
	border-right: #9999cc 1px solid;
	border-top: #9999cc 1px solid;
	border-left: #9999cc 1px solid;
	border-bottom: #9999cc 1px solid;

}
a {
	background:#c9cadf;
	font-family: Arial, Helvetica, sans-serif;
	border: 0px none #9999cc;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: underline;
	line-height: 20px;

}

div {
	border: 1px solid #FFFFFF;

}
ul {
	border: 1px solid #9999cc;

}

h3 {
	color: #212424;
	font: 80%/150% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Lucida, Helvetica, sans-serif;
	border-right: #9999cc 1px solid;
	border-top: #9999cc 1px solid;
	border-left: #9999cc 1px solid;
	border-bottom: #9999cc 1px solid;
}

/*********************************  Isla de Datos XML  *********************************/
textarea.islaxml {
    position: absolute;
    left: -2000px;
    visibility: hidden;
}

.areaimpresion {
	display: block;
	font-size: 10;
	text-decoration: none;
	font-style: normal;
}

.contenido_areaimpresion {
	font-family: Arial, Helvetica, sans-serif, Verdana;
	font-size: 10;
	text-decoration: none;
	font-style: normal;
	background-color: #e4e4e4;
	margin: 1px;
	padding: 1px;
	border: 1px solid #FFFFFF;
}
	
@media print {
.saltoPagina {
 page-break-before: always;
 padding-top: 0em;
}
h1 {
  page-break-before: always;
  padding-top: 0em;
  }

h1:first-child {
  page-break-before: avoid;
  counter-reset: page;
  }
.areaimpresion {
	visibility: hidden;
}
	
}