/**************************************************
 * Data Tables and Cascading Style Sheets Gallery *
 *  http://icant.co.uk/csstablegallery/index.php  *
 *  --------------------------------------------  *
 * Author: Taimar Teetlok > http://taimar.pri.ee/ *
 **************************************************/
input
{
	border: 0;
	text-align: right;
	background: url(layout.gif) no-repeat left top;
	background-color: #eeeaee;
}

table.declaracion {
	width: 700;
	color: #212424;
	margin: 0 0 1em 0;	
	font: 8px Arial;
}
table, tr, th, td
{
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	color: activecaption;
	font: 8px Arial;
}
caption {
	width: 100%;
	height: 39px;
	font-size: 0;
	line-height: 0;
	text-indent: -5000em;
	background: url(caption.gif) no-repeat 98% 0;
}
caption:hover {
	background-position: 98% 100%;
}

/* HEADER */

thead {
	background: #524123;
}
thead tr th {
	padding: 1em 0;
	text-align: center;
	color: #FAF7D4;
	border-bottom: 3px solid #A5D768;
}

/* FOOTER */

tfoot {
	color: #fff;
	background: #524123;
}
tfoot tr th, tfoot tr td {
	padding: .2em .6em;
	border-top: 1px solid #A5D768;
}
tfoot tr th {
}
tfoot tr td {
	text-align: right;
}

/* BODY */

tbody tr td {
	background: #FFFFFF url(bg_cell.gif) no-repeat top left;
	font-size: 6pt;
}
tbody tr.odd td {
	background-color: #D0EBA6;
}
tbody tr td:hover, tbody tr.odd td:hover {
	background: #c9cadf;
}
tbody tr th, tbody tr td
{
	padding: 0.1em 0.4em;
	border-right: #9999cc 1px solid;
	border-top: #9999cc 1px solid;
	border-left: #9999cc 1px solid;
	border-bottom: #9999cc 1px solid;
}
tbody tr th
{
	padding-right: 1em;
	text-align: right;
	font-weight: normal;
	background:  #c9cadf no-repeat left top;
	text-transform: uppercase;
	font-size: 8pt;
}
tbody tr th:hover {
	background: #c9cadf;
}
table a[href*="taimar.pri.ee"] {
	float: left;
	width: 64px;
	height: 64px;
	font-size: 0;
	text-decoration: none;
	background: transparent url(http://taimar.pri.ee/examples/table-design/taimar.gif) no-repeat 0 0;
}
table a[title^="Download"] {
	float: none;
	width: auto;
	height: auto;
	font-size: 100%;
	background: none;
}

/* LINKS */

table a {
	color: #854400;
	text-decoration: none;
}
table a:visited {
	text-decoration: line-through;
}
table a:hover {
	text-decoration: underline;
}

.numero
{
	border: 0;
	font-size: 9px;
	width: 90px;
	text-align: right;
	background: url(layout.gif) no-repeat left top;
	background-color: #eeeaee;
}