#main input.default{
	background-color:#FFFFFF;
}
#main input.opaque{
	background-color:#AAAAAA;
}
#main input.readonly{
	background-color:#B7B3F0;
}
#main input.header{
	width:100%;
}
#main td.header{
	color: white;
	font-weight: bold;
	font-size: 10px;
}
#main th.header{
	background-color: #4FAC44;
	color: white;
	font-weight: bold;
	font-size: 10px;
	height:100%;
}
#main table.items{
	padding: 0px;
	margin: 0px;
	background-color: #0000FF;
}
#main table.sections{
	background-color:#FFFFFF;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-style:solid;	
	border-color: #4FAC44;
	border-width:thin;
}
#main td.sections{
	border-style:solid;	
	border-color: #4FAC44;
	border-width:thin;
	font-size: 10px;
}
#main th.sections{
	border-style:solid;	
	border-color: #4FAC44;
	border-width:thin;
	font-size: 10px;
	background-color:#FFFFFF;
}
#main tr.line1{
	
}

